{% extends 'base.html' %}


{% block contenido %}
    <h2>Publicaciones</h2>

    <form method="get">
      <select name="categoria" id="">
        <option value="">Todas</option>
        
        {% for categoria in categorias  %}
        <option value="{{categoria.id}}">{{categoria.nombre}}</option>
          
        {% endfor %}
          
      </select>
      <button type="submit">Filtrar
      </button>
    </form> 
    {% if user.es_colaborador or user.is_superuser %}
    <a href="{% url 'publicar' %}" class="button">Nueva Publicacion</a>  
    {% endif %} 
    
      {% for publicacion in publicaciones %}
      <div class="card">
        <div class="card-header">
          {{publicacion.fecha}} - <strong>#{{publicacion.creador}}</strong>

          <span>
            <a href="{% url 'eliminar-publicacion' publicacion.id %}"><i class="fa-solid fa-trash"></i></a>
            
            <a href="{% url 'modificar-publicacion' publicacion.id %}"><i class="fa-solid fa-file-pen"></i></a>

          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{publicacion.titulo}}</h5>
          <p class="card-text">{{publicacion.cuerpo}}</p>
          <p class="card-text"><i class="fa-solid fa-tag"></i>{{publicacion.categoria}}</p>
          <a href="{% url 'detalle-publicacion' publicacion.id %}" class="button">Ver mas</a>
        </div>
      </div>
      {% endfor %}
        
    
{% endblock contenido %}