{% extends 'base.html' %}


{% block contenido %}
    <h2>Publicaciones</h2>
    <a href="{% url 'publicar' %}" class="button">Nueva Publicacion</a>  
      {% for publicacion in publicaciones %}
      <div class="card">
        <div class="card-header">
          {{publicacion.fecha}} - <strong>#{{publicacion.creador}}</strong>

          <span>
            <a href="{% url 'eliminar-publicacion' publicacion.id %}"><i class="fa-solid fa-trash"></i></a>
            
            <a href="{% url 'modificar-publicacion' publicacion.id %}"><i class="fa-solid fa-file-pen"></i></a>

          </span>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{publicacion.titulo}}</h5>
          <p class="card-text">{{publicacion.cuerpo}}</p>
          <a href="#" class="btn btn-primary">Ver mas...</a>
        </div>
      </div>
      {% endfor %}
        
    
{% endblock contenido %}