{% extends 'base.html' %}


{% block contenido %}
    <center>
        <u><h1>Contáctanos por estas redes: </h1></u>
        <a href="https://www.facebook.com/infojuegosblog/"><i class="fa-brands fa-square-facebook fa-2xl"></i>SEGUINOS</a>
        <a href="https://www.instagram.com"><i class="fa-brands fa-square-instagram fa-2xl"></i>SEGUINOS</a>
        <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-x-twitter fa-2xl"></i>SEGUINOS</a>
        <p></p>
        <a href="https://www.youtube.com/watch?v=NPUz3rd3d9s"><i class="fa-brands fa-youtube fa-2xl"></i> Mira</a>
    </center>
{% endblock contenido %}
    